name: rekap_absensi_app
description: "A new Flutter project."
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  desktop_drop: ^0.4.4
  file_picker: ^8.1.4
  excel: ^4.0.6
  path: ^1.9.0
  intl: ^0.19.0
  shared_preferences: ^2.2.2
  sqflite_common_ffi: ^2.3.0
  path_provider: ^2.1.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true